*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    display: flex;
}


.nav-bar ul {
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.nav-bar ul li {
    display: inline-block;
    width: 150px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}


.active,
.nav-bar ul li a:hover {
    color: grey;
}



.company-name {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.main-picture {
    width: 100%;
}

.box-container {
    margin: 100px auto;
    padding: 0 30px;
    max-width: 1440px;
    width: 100%;
}

.box-flex {
    display: flex;
}

.box-1 {
    background-color: rgb(165, 163, 163);
}

.box-1 h2 {
    text-align: center;
    color: white;
}

.box-33 {
    width: 30%;
    margin: 0 20px;
}


.white {
    color: white;
}


.box-1 .in-box {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding: 30px;
}



.slogan-main-text {
    text-align: center;
}

.nicer-text {
    padding-bottom: 30px;
    color: grey;
}

.slogan-text {
    width: 400px;
    padding: 20px 30px;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.6;

}

.about {
    background-color: rgba(138, 167, 146, 0.664);

}

.about-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}


.about-main-text {
    padding-right: 25rem;
    color: rgb(83, 82, 82);

}

.about-text {
    text-align: justify;
    line-height: 1.5;
    padding: 0 50px;
}


.icons {
    display: flex;
}

.icons i {
    font-size: 60px;
    color: grey;
    padding: 10px 15px;
    border: 2px solid transparent;
}

.icons i:hover {
    border: 2px solid white;
    color: white;
    transition: 0.9s all;
}

.stores-table,
tr,
td {
    border: 1px solid rgb(122, 120, 120);
    border-collapse: collapse;
}

.stores-table {
    width: 100%;
}

td {
    padding: 10px;
    text-align: left;
}


.page-end {
    margin-bottom: 0;
}

.item {
    overflow: hidden;
    width: 100%;
    margin: 20px;
    transition: transform 0.2s;
    flex: 0 0 50%;
    padding: 20px;
}

.item:hover {
    transform: scale(1.3);
}


.quote {
    text-align: center;
    padding-top: 20px;
    border-top: 20px solid rgba(108, 156, 108, 0.712);
}

.center-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

::-moz-selection {
    background: rgba(138, 167, 146, 0.473);
}

::selection {
    background: rgba(138, 167, 146, 0.473);
    ;
}

.nav-bar li:first-child {
    font-weight: bold;
}

.form-box {
    justify-content: space-around;
}

label {
    display: block;
    padding-top: 22px;
    padding-bottom: 2px;
    font-size: 18px;
}

.form input {
    height: 40px;
    border: 5px solid rgba(49, 47, 47, 0.24);
    width: 350px;
}

textarea {
    width: 350px;
    height: 300px;
    border: 5px solid rgba(49, 47, 47, 0.24);
}


.contact-box {
    background-color: rgba(179, 178, 178, 0.705);
    justify-content: space-evenly;
    padding: 50px;
}

.form-foto img {
    margin-top: 40px;
    width: 550px;
    padding: 50px;
    border: 20px solid rgba(255, 255, 255, 0.705);
}


.submitBtn {
    border-color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(138, 180, 132);
    font-size: 1.5rem;
    padding: .4rem 1rem;
    border-radius: 1rem;
    width: 100%;
}

.shops-text {
    font-size: 40px;
    color: rgba(68, 68, 68, 0.849);
}

.small-center-text {
    text-align: center;
    font-size: 18px;
}

.text-box a {
    color: rgb(143, 125, 21);
}

#search {
    display: flex;
}

.text {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.submit {
    border: 1px solid #ccc;
    padding: 2px 20px;
    border-radius: 10px;
}


.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(68, 68, 68, 0.229);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 100;
}

.background-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgba(207, 14, 191, 0.397);
    padding: 20px;
    width: 50vw;
    min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-main-text {
    text-transform: capitalize;
    color: rgb(75, 26, 72);
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}


.modal button {
    width: 130px;
    height: 50px;
    font-size: 25px;
    margin-top: 50px;
    background-color: rgb(153, 0, 115);
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.subscribeBtn {
    background-color: rgb(255, 212, 251);
    width: 50vw;
    min-width: 300px;
    font-size: 30px;
    border: 15px solid rgba(238, 187, 238, 0.589);
    transition: 1s all;
    border-radius: 1ex;
    border: 20px solid transparent;
}

.modal,
button {
    cursor: pointer;
}

.subscribeBtn:hover {
    background-color: rgb(253, 255, 164);
    transition: 1s all;
}

input:required,
textarea:required {
    border: 1px solid rgba(255, 0, 0, 0.445);
}

.mobilenav-container {
    display: none;
}

.mobilenav {
    width: 300px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 40px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.line {
    width: 100%;
    height: 3px;
    background-color: rgb(71, 71, 71);
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-item {
    list-style: none;
    margin: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 10px;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(64, 112, 52);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.mobile-icon-container {
    display: none;
}

.mobile-icon {
    font-size: 30px;
    padding: 40px 30px;
    position: fixed;
}

.mobilenav-background {
    width: 100%;
    background-color: white;
    height: 100px;
    position: fixed;
}